.contactSection {
  @apply min-h-screen flex flex-col items-center justify-center relative ;

  backdrop-filter: blur(10px);
  border: 4px solid #0000001a;
  border-radius: 15px;

  h2 {
    @apply mb-12 relative inline-block;
    
    &:after {
      content: '';
      @apply absolute bottom-0 left-0 w-1/2 h-1 bg-blue-500 rounded-full;
      transform: translateY(8px);
    }
  }
  
  a {
    @apply relative inline-block;
    
    &:after {
      content: '';
      @apply absolute bottom-0 left-0 w-full h-0.5 bg-blue-500 transform scale-x-0 transition-transform duration-300;
      transform-origin: right;
    }
    
    &:hover:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}