.aboutContainer {
  @apply relative min-h-screen flex items-center justify-center;
  
  section {
    @apply max-w-2xl mx-auto px-6;
    
    h2 {
      @apply mb-8 relative inline-block;
      
      &:after {
        content: '';
        @apply absolute bottom-0 left-0 w-1/2 h-1 bg-blue-500 rounded-full;
        transform: translateY(8px);
      }
    }
    
    p {
      @apply leading-relaxed text-gray-600 dark:text-gray-300;
      font-size: 1.1rem;
    }
  }
}